/*Seletores de tag*/

body{
    background-image: url(https://images.unsplash.com/photo-1749544811369-d08d34e3b3ea?q=80&w=1278&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    backdrop-filter: blur(5px);
    background-color: #F1F1F1 !important;
}

input{
    border-radius: 30px !important;
}

input[type="search"]{
    border: solid 1px #C7C7C7;
    padding: 4px;
    width: 40%;
}

select{
    border-radius: 30px !important;
}

article a{
    text-decoration: none;
    color: #000000;
}

article a:hover{
    text-decoration: none !important;
    color: #000000 !important;
}

header span{
    border-radius: 30px;
}

details{
    border: solid 1px #C7C7C7;
    border-radius: 30px;
    padding: 1em;
}

summary{
    text-align: center;
    text-decoration: none;
    list-style: none;
}

textarea{
    border-radius: 30px !important;
    padding: 1em !important;
}

/*Seletores de ID----------------------------------------------------------*/


/*Seletores de classe------------------------------------------------------*/

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; 
}

.box-form{
    background-color: #FFFFFF;
    border-radius: 30px;
    border: solid 1px #c7c7c7;
    padding: 1.5em;
    height: auto;
}

.box-nav{
    background-color: #FFFFFF;
    border-radius: 30px 30px 0px 0px;
    border: solid 1px #c7c7c7;
    border-bottom: none;
    padding: 1.2em;
    height: auto;
}

.box-content{
    background-color: #FFFFFF;
    border-radius: 0px 0px 30px 30px;
    border: solid 1px #c7c7c7;
    padding: 1.5em;
    height: 80vh;
    overflow-y: auto;
}

.box-details{
    background-color: #fafafa;
    border: solid 1px #c7c7c7;
    padding: 1.5em !important;
    height: auto;
}

.box-canvas{
    margin: 10px 0px 10px 0px;
}

.box-list-books{
    padding: 1em;
}

.box-add-book{
    color: #FFFFFF;
    padding: 1.5em;
    background-color: #F1F1F1;
    border: solid 1px #C7C7C7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-book{
    backdrop-filter: blur(2px);
    border-collapse: collapse;
    padding: 1.5em;
}

.box-book:hover{
    box-shadow: 0px 0px 4px 0px #00000062;
}

.box-add-book a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.box-add-book i{
    color: #C7C7C7;
}

.box-add-book a:hover{
    color: #C7C7C7;
    text-decoration: none;
}

.box-add-book:hover{
    box-shadow: 0px 0px 4px 0px #00000062;
}

.box-details span{
    display: inline-block !important;
    white-space: nowrap !important;
}

.box-nav a{
    color: #C7C7C7;
}

.box-nav a:hover{
    color: #000000;
}

.box-nav button:hover{
    color: rgb(250, 62, 62) !important;
}

.box-content canvas{
    width: auto !important;
    
}

.form-delete button:hover{
    color: rgb(250, 62, 62) !important;
}

.selected{
    color: #000000 !important;
    border-radius: 3px;
    padding-bottom: 5px;
    border-bottom: solid 3px #000000!important;
}

.btn{
    border: none;
    border-radius: 30px;
    vertical-align: middle;
    padding: 10px 15px 10px 15px;
}

.btn-search{
    border: none;
    border-radius: 30px;
    background-color: #FFFFFF;
    color: #000000;
    cursor: pointer;
}

.btn-primary{
    background-color: #000000;
    border: solid 1px #000000;
    color: #FFFFFF;
}

.btn-primary:hover{
    background-color: #FFFFFF;
    border: solid 1px #000000;
    color: #000000;
}

.btn-secondary{
    background-color: #FFFFFF;
    color: #000000;
}

.btn-secondary:hover{
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    text-decoration: underline;
}

.btn-submit-alt{
    background-color: #ffffff00 !important;
    border: none !important;
    cursor: pointer;
}

.small-details{
    color: #C7C7C7;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}

.small-details:hover{
    color: #000000;
}

.lidos-livros{
    background-color: #a3fc683a;
    border-radius: 12px;
    color: #138f28;
}

.lidos-livros-light{
    color: rgb(113, 190, 126) !important;
}

.em-leitura-livros{
    background-color: #4aaeff3a;
    border-radius: 12px;
    color: #0f44d6;
}

.em-leitura-livros-light{
    color: #83a4ff !important;
}

.por-ler-livros{
    background-color: #ffdc683a;
    border-radius: 12px;
    color: #be8211;
}

.por-ler-livros-light{
    color: #ecb857 !important;
}

.lidos{
    border: solid 1px #138f28;
    background-color: #a3fc683a;
}

.em-leitura{
    border: solid 1px #0f44d6;
    background-color: #4aaeff3a;
}

.por-ler{
    border: solid 1px #be8211;
    background-color: #ffdc683a;
}

.w-45{
    display: inline-block;
    width: 45% !important;
}

.girar{
    animation: girar 3s 5 linear;
}

.filter{
    color: #969696;
    border-radius: 30px;
    padding: 4px 10px 4px 10px;
    border: solid 1px #969696;
    font-size: 0.9em;
}

.filter:hover{
    text-decoration: none;
    color: #000000;
    background-color: #F1F1F1;
}

/*Fontes-------------------------------------------------------------------*/

.dm-sans-bold {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
}

.dm-sans-light {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;

}
/*Keyframes animação---------------------------------------------------------*/

 @keyframes girar {
    0%{transform: rotate(0deg);}
    25%{transform: rotate(90deg);}
    50%{transform: rotate(180deg);}
    75%{transform: rotate(270deg);}
    100%{transform: rotate(360deg);}
 }

/*Breakpoints-------------------------------------------------------------*/

@media (max-width: 992px) {
    input[type="search"]{
        width: 100% !important;
    }

    .filter{
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px !important;
    }
}

/*Proporção tipografia------------------------------------------------------*/
 h1{font-size: 1.8rem}
 h2{font-size: 1.4rem}
 h3{font-size: 1.1rem}
 p{font-size: 1.2rem}
 small{font-size: 0.9rem}


